<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 style="font-size:14px">Este es el reporte de la <strong>asistencia de salida</strong> a la fecha {{diaString}}</h2>
    <div>
        <table style="border-collapse: collapse;
        width: 100%;">
            <tr>
                <th style=" border: 1px solid #ddd;
            padding: 8px;  padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #122555;
            color: white;">
                    Nombres</th>
                <th style=" border: 1px solid #ddd;
            padding: 8px;  padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #122555;
            color: white;">DNI</th>
                            <th style=" border: 1px solid #ddd;
                        padding: 8px;  padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #122555;
            color: white;">Hora de Ingreso</th>
                            <th style=" border: 1px solid #ddd;
                        padding: 8px;  padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #122555;
            color: white;">Hora de Salida</th>
             <th style=" border: 1px solid #ddd;
                        padding: 8px;  padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #122555;
            color: white;">Categoria</th>
             <th style=" border: 1px solid #ddd;
                        padding: 8px;  padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #122555;
            color: white;">Ocupacion</th>
             <th style=" border: 1px solid #ddd;
                        padding: 8px;  padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #122555;
            color: white;">Planilla</th>
              <th style=" border: 1px solid #ddd;
                        padding: 8px;  padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #122555;
            color: white;">Fecha de nacimiento</th>
              <th style=" border: 1px solid #ddd;
                        padding: 8px;  padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #122555;
            color: white;">Fecha de vencimiento de DNI</th>
            <th style=" border: 1px solid #ddd;
                        padding: 8px;  padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #122555;
            color: white;">Empresa</th>
            <th style=" border: 1px solid #ddd;
                        padding: 8px;  padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #122555;
            color: white;">Ruc</th>
            </tr>
            {{#if data}}
            {{#each data}}
            <tr>
                 <td style=" border: 1px solid #ddd;
                    padding: 8px;">{{names}}</td>
                <td style=" border: 1px solid #ddd;
                     padding: 8px;">{{dni}}</td>
                <td style=" border: 1px solid #ddd;
                    padding: 8px;">{{timeenter}}</td>
                <td style=" border: 1px solid #ddd;
                    padding: 8px;">{{timeexit}}</td>
                 <td style=" border: 1px solid #ddd;
                    padding: 8px;">{{category}}</td>
                 <td style=" border: 1px solid #ddd;
                    padding: 8px;">{{charge}}</td>
                 <td style=" border: 1px solid #ddd;
                    padding: 8px;">{{payroll}}</td>
                 <td style=" border: 1px solid #ddd;
                    padding: 8px;">{{dayborn}}</td>
                <td style=" border: 1px solid #ddd;
                    padding: 8px;">{{expirationdatedni}}</td>     
                    <td style=" border: 1px solid #ddd;
                    padding: 8px;">{{enterprise}}</td>  
                    <td style=" border: 1px solid #ddd;
                    padding: 8px;">{{enterpriseruc}}</td>    
            </tr>
            {{/each}}
            {{/if}}
        </table>
    </div>
      <div style="padding: 20px; border:1px solid #122555; width: 130px; margin:20px 0px;border-radius:20px;text-align:center">
    <a href="https://constructora-app.netlify.app/descargarobraexcel/{{link}}" 
       style="min-height: 300px;text-align: center;
    color: #122555; width: 400px; margin: 20px 0px; border-radius:25px; text-decoration:none; font-weight:700" >Exportar en Excel</a>
    </div>

</body>

</html>